@font-face {
    font-family: 'Mohave';
    src: url('../media/fonts/mohave/Mohave-Regular.eot');
    src: url('../media/fonts/mohave/Mohave-Regular.eot?#iefix') format('embedded-opentype'),
         url('../media/fonts/mohave/Mohave-Regular.woff2') format('woff2'),
         url('../media/fonts/mohave/Mohave-Regular.woff') format('woff'),
         url('../media/fonts/mohave/Mohave-Regular.ttf') format('truetype'),
         url('../media/fonts/mohave/Mohave-Regular.svg#Mohave-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}