/*
 * Main style 
 */

*{
    padding: 0;
    margin: 0;
} 
html{
    scroll-behavior: smooth;
}
a{
	text-decoration: none;
}  
ul li{
	display: inline-block;
	list-style: none;
}
hr{ 
    display: inline-block !important;
    margin: 0; 
    width: 40%;
}

body{ 
    background-color: azure;
    color: #424242;
    display: grid;
    font-family: "Mohave";   
    transition: 500ms; 
}
 
#home, #personal, #jobs, #knowledge, #projects, #contact{
    background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover; 
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100% !important;
}
 /*
 * Menu style 
 */
#principal-menu{ 
    background: rgba(0,0,0,0.8) !important; 
    padding: 1px 1rem !important;
}
#menu ul{
    margin-right: 30px;
    float: right;
}
#menu ul li{   
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
}   
#menu a{
    color: white;   
    font-size: 1.2rem;
}
#menu a:hover{  
    color: rgb(255, 145, 0);  
    font-size: 1.4rem;
    transition: 300ms;
}
/*
 * Home style 
 */ 
#home{
    background-image: url(../media/images/background.jpg);
    background-size: cover;  
    text-shadow: 3px 3px 4px #747474;
    text-align: center;
} 

#home #title-profile{  
    display: inline-block;
    margin: 220px 0 0 5px; 
}
#home #my-name{
    font-size: 60px; 
}
#home #my-profesion{
    font-size: 36px; 
    margin: 15px 0 15px 0;
}
#home cite{
    font-size: 24px;
}

/*
 * Personal style 
 */  
#personal{
    text-align: center;
}
#personal img{
    border: 2px solid #f38b03;
    box-shadow: 3px 3px 5px #747474;;
    border-radius: 50%;  
    margin-top: 2%;
    width: 200px;
}
#personal-data{ 
    font-size: 22px;
    margin-top:15px;
}
#about-me{ 
    font-size: 20px; 
    padding: 10px;
}

/*
 * Jobs style 
 */ 
#jobs{
    background-image: url(../media/images/experience.jpeg);
    text-align: center;
} 
#jobs, #jobs h1, #jobs span{
    color: rgb(255, 255, 255) !important;
}
 

 /*
 * Knowledge style 
 */
#knowledge{
    height: 102%;
    margin-bottom: 50px;
    text-align: center;      
} 
.education{
    text-align: initial !important; 
}
#courses, #workshops{
    padding: 0 !important;
}
.education label{
    display: unset !important;  
}
#technikal-skills h2, #academic h2{
    margin: 15px 0 15px 0;
}
#knowledge h3{
    margin-bottom: 8px;
}
.skill{
    margin-bottom: 3px;
}
.skill img{
    vertical-align: middle;
} 
progress{ 
    background-color: #ececec; 
    border: 0.2px #b4b4b4 solid; 
    box-sizing: border-box; 
    height: 9px;  
    border-radius: 9px; 
    color: #000000;
}
/* Safari Chrome */
progress::-webkit-progress-bar{ 
    background-color: #ececec;  
    border-radius: 9px;
}
progress::-webkit-progress-value{ 
    background: #1274ec; 
     
    border-radius: 9px 0 0 9px; 
}
/* firefox */
progress::-moz-progress-bar{ 
    background: #1274ec; 
}
.education img{
    filter: grayscale(100%);

}
/*
 * Projects style 
 */ 
#projects{
    background-image: url(../media/images/news-background.jpeg);
    text-align: center;
    height: 1200px;
}
 /*
 * Contact style 
 */ 
 #contact{
    height: 800px;
	margin: 0 auto;
    max-width: 1440px;
    text-align: center;
 }
 #galery-text{
    color: #424242;
    font-size: 24px;
    margin-top: 3.6%;
    text-align: center;
}

.footer-li{
	font-size: 18px;
} 

.material-icons{
	font-size: 16px !important;
} 